* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.sneak{
    display: inline-block;
    border: solid white;
    border-radius: 6px;
    color: white;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 16px;
    transition: all 0.5s ease;
    animation: oneshake 20s;
    animation-iteration-count: infinite;

}
/* PAGINA ACHTERGRONDEN */

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.home .max-width,
.contactpage .max-width,
.afstudeerpage .max-width,
.cvpage .max-width,
.workpage .max-width {
    margin: auto 0 auto 0px;
}

.home {
    display: flex;
    background-color: black;
    background-blend-mode: darken;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    font-family: "Raleway", sans-serif;
}
.contactpage {
    display: flex;
    background-color: #171717;
    background-image: url("Photos/GIF/Dogs/GIF:dog:ipad.gif");
    background-blend-mode: soft-light;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    font-family: "Raleway", sans-serif;
}
.cvpage {
    display: flex;
    background-color: #171717;
    background-image: url("Photos/GIF/Cats/GIF:cat:gaming.gif");
    background-blend-mode: soft-light;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    font-family: "Raleway", sans-serif;
}
.afstudeerpage {
    display: flex;
    background-color: #171717;
    background-image: url("Photos/GIF/GIF:timetravel.gif");
    background-blend-mode: soft-light;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    font-family: "Raleway", sans-serif;
}
.workpage {
    display: flex;
    background-color: #171717;
    background-image: url("Photos/GIF/Cats/GIF:cat:sleepy.gif");
    background-blend-mode: soft-light;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 500px;
    font-family: "Raleway", sans-serif;
}







/* TEXT-1 */
.home .home-content .text-1,
.contactpage .home-content .text-1,
.afstudeerpage .home-content .text-1,
.cvpage .home-content .text-1,
.workpage .home-content .text-1 {
    font-size: 27px;
    color: white;
}




/* TEXT-2 */
.home .home-content .text-2,
.contactpage .home-content .text-2,
.afstudeerpage .home-content .text-2,
.cvpage .home-content .text-2,
.workpage .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    color: white;
}




/* TEXT-3 */
.text-3 a {
    display: inline-block;
}

.text-3 br {
    display: none;
}

.home .home-content .text-3,
.contactpage .home-content .text-3,
.afstudeerpage .home-content .text-3,
.cvpage .home-content .text-3,
.workpage .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
    color: white;
}
.home .home-content .text-3 span,
.contactpage .home-content .text-3 span,
.afstudeerpage .home-content .text-3 span,
.cvpage .home-content .text-3 span,
.workpage .home-content .text-3 span {
    color: crimson;
    font-weight: 600;
    border-radius: 1px;
}





/* NAV BAR */
.navbar {
    position: fixed;
    width: 100%;
    padding: 25px 0;
    font-family: "Montserrat"
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo span {
    font-size: 20px;
    color: crimson;
    border-radius: 30px;
    background-color: white;
    padding: 6px;
    margin: 4px;
    top: -5px;
    position: relative;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .logo a {
    color: white;
    font-size: 34px;
    font-weight: 600;
}
.navbar .menu li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}










/* CONTACT link */
.contactpage .home-content a {
   display: inline-block;
    border: solid crimson;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 16px;
    transition: all 0.5s ease;
    animation: oneshake 20s;
    animation-iteration-count: infinite;
}







/* Resume LINK  */
.cvpage .home-content a{
    display: inline-block;
    border: solid crimson;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 16px;
    transition: all 0.5s ease;
    animation: oneshake 20s;
    animation-iteration-count: infinite;
}

/* Home LINK  */
.home .home-content a {
    display: inline-block;
    border: solid crimson;
    border-radius: 6px;
    background-color: none;
    color: crimson;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 16px;
    transition: all 0.5s ease;
    animation: oneshake 20s;
    animation-iteration-count: infinite;
}


/* Designs LINK*/
.workpage .home-content a {
     display: inline-block;
    border: solid crimson;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    padding: 12px 24px;
    font-size: 25px;
    font-weight: 600;
    margin-right: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: all 0.5s ease;
    animation: oneshake 20s;
    animation-iteration-count: infinite;
}


a img {
    background-color: white;
    border-radius: 30px;
    margin-bottom: -4px;
}

/* HOVER LINKS */
.home .home-content a:hover,
.contactpage .home-content a:hover,
.afstudeerpage .home-content a:hover,
.cvpage .home-content a:hover,
.workpage .home-content a:hover {
    background: white;
    border: solid white;
    color: crimson;
}










/* ANIMATIE LINKS */
@keyframes oneshake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    95% {
        transform: translate(1px, 1px) rotate(-3deg);
    }

    98% {
        transform: translate(1px, 1px) rotate(5deg);
    }

    100% {
        transform: translate(1px, 1px) rotate(0deg);
    }
}






/* FOOTER */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: darkgray;
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding: 20px;
    font-size: 10px;
}






/* Slideshow sneak */

.mySlides2 img {
    vertical-align: middle;
    border-radius: 6px;
    height: 240px;
    width: 100%;
    max-width: 1300px;
    object-fit: cover;
}

.mySlides2 p {
    color: white;
    font-size: 24px;
    margin: 20px;
}

.mySlides2 {
    display: none;
    max-width: 100%;
}


/* Slideshow container */

.slideshow-container {
    display: inline-block;
    max-width: 100%;
    position: relative;
}

/* Next & previous buttons */

.home .home-content .slideshow-container a {
    cursor: pointer;
    position: absolute;
    top: 36%;
    width: auto;
    padding: 16px;
    margin-left: -2px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: crimson;
}
.home .home-content .slideshow-container a:hover {
    background-color: white;
    color: crimson;
}


.home .home-content .slideshow-container .next {
    right: -15px;
    border-radius: 3px 0 0 3px;
}








/* responsive media queries */
@media (max-width: 1104px) {
    .home .max-width,
    .contactpage .max-width,
    .afstudeerpage .max-width,
    .cvpage .max-width,
    .workpage .max-width {
        margin-left: 0px;
    }

    .cvpage .home-content .text-2,
    .workpage .home-content .text-2 {
        font-size: 40px;
    }
}







@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .tags1,
    .tags2 {
        font-size: 14px;
    }

    .cvpage .home-content .text-2,
    .workpage .home-content .text-2 {
        font-size: 40px;
    }
}






@media (max-width: 750px) {

    .cvpage .home-content .text-2,
    .workpage .home-content .text-2 {
        font-size: 40px;
    }
}








@media (max-width: 700px) {
    .home .home-content .text-2,
    .contactpage .home-content .text-2,
    .afstudeerpage .home-content .text-2 {
        font-size: 60px;
    }

    .cvpage .home-content .text-2
    .workpage .home-content .text-2 {
        font-size: 40px;
    }

    .home .home-content .text-3,
    .contactpage .home-content .text-3,
    .afstudeerpage .home-content .text-3,
    .cvpage .home-content .text-3,
    .workpage .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a,
    .contactpage .home-content a,
    .afstudeerpage .home-content a,
    .cvpage .home-content a,
    .workpage .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }









@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .cvpage .home-content .text-2 {
        font-size: 40px;
    }

    .home .home-content .text-2,
    .contactpage .home-content .text-2,
    .afstudeerpage .home-content .text-2,
    .workpage .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3,
    .contactpage .home-content .text-3,
    .afstudeerpage .home-content .text-3,
    .cvpage .home-content .text-3,
    .workpage .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a,
    .afstudeerpage .home-content a,
    .cvpage .home-content a,
    .workpage .home-content a {
        font-size: 20px;
    }

    .mySlides2 p {
    color: white;
    font-size: 14px;
    margin: 20px;
}
}








@media (max-width: 500px) {
    .home .home-content .text-2,
    .contactpage .home-content .text-2,
    .afstudeerpage .home-content .text-2,
    .cvpage .home-content .text-2,
    .workpage .home-content .text-2
    {
        font-size: 40px;
    }

    .home .home-content .text-3,
    .contactpage .home-content .text-3,
    .afstudeerpage .home-content .text-3,
    .cvpage .home-content .text-3,
    .workpage .home-content .text-3 {
        font-size: 27px;
    }

    .home .home-content .text-2 a,
    .contactpage .home-content .text-2 a,
    .afstudeerpage .home-content .text-2 a,
    .cvpage .home-content .text-2 a {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }



    .home .home-content a,
    .afstudeerpage .home-content a,
    .cvpage .home-content a
    {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .text-3 br {
        display: inline;
    }

    .navbar .menu li {
        display: block;
        padding: 14px;
    }

    .logo {
        margin-top: -105px;
    }

    .two {
        display: block;
        width: 100%;
    }

    button {
        margin-right: 0px;
        margin-left: -4px;
    }


    .contactpage .home-content a {
        width: 100%;
        text-align: center;
                font-size: 18px;

    }

    .workpage .home-content a {
        width: 48%;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
        text-align: center;
          font-size: 18px;

    }

    .workpage .home-content .oudport {
        width: 100%;
    }



    }
